/* Global style */
body {
  margin: 0 auto;
  font-family: "Martel Sans", sans-serif;
  text-align: center;
  background-color: #eeeeee;
  color: #7d7873;
}

figure {
  padding: 30px 0;
}

a {
  text-decoration: none;
  color: #0066ff;
}

header,
figure {
  margin: 0;
}

header,
main,
section {
  padding: 25px 0;
}

#content-container {
  background-color: #ffffff;
  margin: 0 15%;
}

header p,
#ceo,
#time,
#vantagens,
#vagas {
  margin: 0 6%;
}

/* Header style */

header,
header figure {
  padding-top: 0;
}

.foto-header {
  width: 100%;
}

.titulo {
  position: absolute;
  top: 15vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}

/* CEO-Time style */

#ceo-time {
  background-color: #f6f6f6;
}

#ceo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ceo img {
  width: 100%;
  height: auto;
}

#ceo figure,
#ceo div {
  margin: 0 2%;
}

.ceo-texto {
  width: 500px;
  text-align: justify;
}

.tag-nome {
  padding-bottom: 10px;
  line-height: 10px;
}

.nome {
  font-weight: 400;
  font-style: italic;
  color: #ffa500;
}

.fotos-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fotos-time img {
  margin: 0 auto;
  padding: 5px;
  width: 14vw;
}

/* Vantagens style */

#vantagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: justify;
}

#vantagens article {
  width: 30%;
  margin: 0 auto;
  padding: 0 10px;
}

#vantagens article figure {
  display: flex;
  justify-content: center;
}

#vantagens h3 {
  text-align: center;
}

#vantagens span {
  font-style: italic;
}

#vantagens p {
  margin: 0;
}

.foto-bottom {
  width: 100%;
}

/* Vagas style */

#vagas h3 {
  text-align: left;
}

.lista-vagas {
  display: flex;
  justify-content: space-between;
}

.lista-vagas ul {
  margin: 0;
  padding: 0;
}

.lista-vagas ul li {
  list-style-type: none;
  padding: 8px;
}

#cargos {
  color: #0066ff;
  font-weight: 700;
}

#localizacoes {
  color: #bbbbbb;
  font-weight: 700;
}

/* Media query */

@media only screen and (max-width: 600px) {
  #content-container {
    margin: 0;
  }

  header p,
  #ceo,
  #time,
  #vantagens,
  #vagas {
    margin: 0 3%;
  }

  #vagas h3 {
    text-align: center;
  }

  #vantagens article {
    width: 100%;
  }

  .fotos-time img {
    width: 40%;
  }
}
